<div class="container clear">
  <div id="content">
    <% @snippets.each do |snippet| %>
      <article class="article article-snippet">
        <hgroup class="article-header clear">
          <h2 class="title"><%= link_to snippet do %><%= snippet.title %><% end %></h2>
          <%= link_to image_tag(snippet.user.gravatar_url(size: 48), alt: snippet.user.username, class: 'user-icon'), user_path(snippet.user) %></p>
        </hgroup>
        <div class="article-content">
          <%= render 'snippets/snippet' , snippet: snippet %>
        </div>
      </article>
    <% end %>
    <%= paginate @snippets %>
  </div>
</div>
