<% if current_user %>
  <div class="add_new_snippet ballon ballon-bottom">
    <%= link_to 'New Snippet', new_snippet_path, class: 'btn btn-blue btn-horizontal' %>
  </div>
<% end %>

<% @snippets.each do |snippet| %>
  <article class="snippet section">
    <h2 class="title"><%= link_to snippet do %><%= snippet.title %><% end %></h2>
    <div class="content">
      <%= render 'snippets/snippet' , snippet: snippet %>
      <p><%= link_to 'more', snippet %></p>
    </div>
  </article>
<% end %>
