<% if current_user %>
  <div class="wrapper">
    <div class="container">
      <%= link_to new_snippet_path, class: 'btn btn-green btn-horizontal' do %>
        + Add New Snippet!
      <% end %>
    </div>
  </div>
<% end %>

<% @snippets.each do |snippet| %>
  <article class="snippet wrapper">
    <hgroup class="container" style="background: url(<%= snippet.user.gravatar_url(size: 48) %>) no-repeat top right">
      <h2 class="title"><%= link_to snippet do %><%= snippet.title %><% end %></h2>
    </hgroup>
    <div class="content">
      <%= render 'snippets/snippet' , snippet: snippet %>
    </div>
  </article>
<% end %>

<div class="wrapper">
  <%= paginate @snippets %>
</div>
