<%= form_for(@snippet) do |f| %>
  <% if @snippet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>

      <ul>
      <% @snippet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_field :title, class: 'input-text input-text-large', placeholder: 'Title (optional)' %>
  <%= text_area_tag :content, @content, class: 'textarea', placeholder: '00:00 YourName: Logged in...' %>
  <%= f.label :published %><%= f.check_box :published, {:checked => true} %>
  <br />
  どこの Organization に紐づける？
  <% current_user.organizations.each do |organization| %>
    <%= f.radio_button :organization_id, organization.id %><%= organization.login %>
  <% end %>
  <br />
  <% if current_user.present? %>
    <%= f.submit class: 'btn btn-blue' %>
  <% end %>
<% end %>
