<%- nick_nums = {}; nick_count = 0 -%>
<dl id="snippet_<%= snippet.id %>">
  <%- snippet.messages.each do |message| -%>
  <%- unless nick_nums[message.nick] then nick_nums[message.nick] = nick_count; nick_count += 1 end -%>
  <p><time><%= message.time %></time>&nbsp;<span class="nick_<%= nick_nums[message.nick] %>"><%= message.nick %>:</span>&nbsp;<%= raw Rinku.auto_link(h(message.content), :all) %></p>
  <%- end -%>
</dl>
