<%- nick_nums = {}; nick_count = 0 -%>
<dl id="snippet_<%= snippet.id %>">
  <%- snippet.messages.each do |message| -%>
  <%- unless nick_nums[message.nick] then nick_nums[message.nick] = nick_count; nick_count += 1 end -%>
  <p class="tweet">
    <%- if message.time.present?-%>
      <time><%= message.time %></time>&nbsp;<span class="nick_<%= nick_nums[message.nick] %>"><%= message.nick %>:</span>&nbsp;<%= raw Rinku.auto_link(h(message.content), :all) %><span class="star">&nbsp;
      <%- if current_user -%>
        <%= link_to '★', snippet_message_stars_path(snippet, message), method: :post, remote: true %>
      <%- else -%>
        <%= link_to '★', signin_url %>
      <%- end -%>
      <span class="count"><%= message.stars.reduce(0) {|sum, star| sum + star.count} %></span></span></p>
    <%- else -%>
      <%= message.raw_content %>
    <%- end -%>
  <%- end -%>
</dl>
