<%- nick_nums = {}; nick_count = 0 -%>
<dl id="snippet_<%= snippet.id %>">
  <%- snippet.messages.each do |message| -%>
  <%- unless nick_nums[message.nick] then nick_nums[message.nick] = nick_count; nick_count += 1 end -%>
  <dt class="nick_<%= nick_nums[message.nick] %>"><%= message.time %> <%= message.nick %></dt>
  <dd class="nick_<%= nick_nums[message.nick] %>">
    <p><%= raw Rinku.auto_link(h(message.content), :all) %></p>
    <p>Star: <span class="count"><%= message.stars.reduce(0) {|sum, star| sum + star.count} %></span>
      <%- if current_user -%>
      <%= link_to 'Star!', snippet_message_stars_path(snippet, message), method: :post, remote: true %>
      <%- else -%>
      <%= link_to 'Star!', signin_url %>
      <%- end -%>
    </p>
    <%- if show_destroy -%>
    <p><%= link_to 'Destroy', [snippet, message], method: :delete, remote: true, data: {confirm: 'Are you sure?', type: :json} %></p>
    <%- end -%>
  </dd>
  <%- end -%>
</dl>
