<%- nick_nums = {}; nick_count = 0 -%>
<dl id="snippet_<%= snippet.id %>">
  <%- snippet.messages.each_with_index do |message, index| -%>
  <%- unless nick_nums[message.nick] then nick_nums[message.nick] = nick_count; nick_count += 1 end -%>
  <% line_number = index + 1 %>
  <p id="L<%= line_number %>" class="tweet">
    <%- if message.time.present? -%>
      <% if params[:controller] == "snippets" && params[:action] == "show" %>
        <time><%= link_to message.time, "#L#{line_number}", id: "L#{line_number}-link", class: 'anchor' %></time>&nbsp;
      <% else %>
        <time><%= message.time %></time>&nbsp;
      <% end %>
      <span class="nick_<%= nick_nums[message.nick] %>"><%= message.nick %>:</span>&nbsp;<%= raw Rinku.auto_link(h(message.content), :all) {|link| link =~ /\.(jpe?g|gif|png|bmp|tiff?)\Z/i ? %(#{link}<br><img src="#{link}" alt="">) : link} %><span class="star">&nbsp;
      <%- if current_user -%>
        <%= link_to '★', snippet_message_stars_path(snippet, message), method: :post, remote: true %>
      <%- else -%>
        <%= link_to '★', signin_url %>
      <%- end -%>
      <span class="count"><%= message.stars.reduce(0) {|sum, star| sum + star.count} %></span>
      <span class="starred-by">
      <%- if message.stars.reduce(0) {|sum, star| sum + star.count} > 0 -%>
      <%- message.stars.each do |star| -%><img src="<%= star.user.gravatar_url %>" alt="Starred by <%= star.user.username %>" data-user-id="<%= star.user_id %>"><%- end -%>
      <%- end -%>
      </span>
      </span>
    <%- else -%>
      <%= message.raw_content %>
    <%- end -%>
  </p>
  <%- end -%>
</dl>
