<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @snippet.title %>
</p>

<p>
  <b>Content:</b>
  <%= simple_format(@snippet.content) %>
</p>

<p>
  <b>Published:</b>
  <%= @snippet.published %>
</p>


<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', root_path %>
