<p id="notice"><%= notice %></p>

<h2>Members</h2>
<% @organization.users.each do |user| %>
  <%= link_to image_tag(user.gravatar_url, alt: user.username, class: 'avator'), user_path(user.username) %>
<% end %>

<% @organization.snippets.each do |snippet| %>
  <article class="snippet section">
    <h2 class="title"><%= link_to snippet do %><%= snippet.title %><% end %></h2>
    <div class="content">
      <ol>
        <%- snippet.messages.each do |message| -%>
        <li><%= message %></li>
        <%- end -%>
      </ol>
    </div>
  </article>
<% end %>

<%= link_to 'Back', organizations_path %>
