<!DOCTYPE html>
<html>
<head>
  <title>iiirc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="header" class="section clear">
    <h1 id="brand">
      <%= link_to "iiirc", root_path %>
    </h1>
    <div id="account_info">
      <% if current_user %>
        <%= image_tag current_user.gravatar_url, class: 'avator' %>
      <% else %>
        <%= link_to "Sign in with GitHub", "/auth/github", 'data-no-turbolink' => true, class: 'btn btn-blue' %>
      <% end %>
    </div>
  </header>
  <div id="notice">
    <p><%= notice %></p>
  </div>
  <%= yield %>
  <footer id="footer" class="section clear">
    <p id="copyrights">&copy;&nbsp;iiirc</p>
    <% if current_user %>
      <p id="signout"><%= current_user.username %>&nbsp;(<%= link_to "signout", signout_path %>)</p>
    <% end %>
  </footer>
</body>
</html>
