<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? "#{content_for(:title)} - iiirc" : "iiirc" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favicon.ico" %>
  <%= auto_discovery_link_tag :atom, snippets_url(format: :atom) %>
</head>
<body>
  <header id="header" class="wrapper">
    <div class="container clear">
      <h1 id="brand">
        <%= link_to image_tag("iiirc.png", alt: "iiirc") , root_path %>
      </h1>
      <div id="account_info">
        <% if current_user %>
          <%= link_to image_tag(current_user.gravatar_url(size: 48), class: 'avator'), user_path(current_user.username) %>
        <% else %>
          <%= link_to "Sign in with GitHub", "/auth/github", 'data-no-turbolink' => true, class: 'btn btn-blue' %>
        <% end %>
      </div>
      <% if notice %>
        <p id="notice"><%= notice %></p>
      <% end %>
      <% if current_user %>
        <div id="add-new-snippet">
          <%= link_to new_snippet_path, class: 'btn' do %>
            + Add New Snippet!
          <% end %>
        </div>
      <% end %>
    </div>
  </header>
  <div id="contents" class="wrapper">
    <%= yield %>
  </div>
  <footer id="footer" class="wrapper clear">
    <div class="container">
      <p id="copyrights">iiirc&trade;</p>
      <% if current_user %>
        <p id="signout"><%= current_user.username %>&nbsp;(<%= link_to "Sign out", signout_path, method: :delete %>)</p>
      <% else %>
        <p id="powered"><a href="http://sqale.jp/" target="_blank">iiirc&nbsp;は&nbsp;Sqale&nbsp;でうごいてます</a></p>
      <% end %>
    </div>
  </footer>
</body>
</html>
