<!DOCTYPE html>
<html>
<head>
  <title>iiirc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="header" class="wrapper clear">
    <div class="container">
      <h1 id="brand">
        <%= link_to "iiirc", root_path %>
      </h1>
      <div id="account_info">
        <% if current_user %>
          <%= link_to image_tag(current_user.gravatar_url(size: 48), class: 'avator'), user_path(current_user.username) %>
        <% else %>
          <%= link_to "Sign in with GitHub", "/auth/github", 'data-no-turbolink' => true, class: 'btn btn-blue' %>
        <% end %>
      </div>
    </div>
  </header>
  <% if notice %>
    <div class="notice wrapper">
      <p><%= notice %></p>
    </div>
  <% end %>
  <%= yield %>
  <footer id="footer" class="wrapper clear">
    <div class="container">
      <p id="copyrights">iiirc&trade;</p>
      <% if current_user %>
        <p id="signout"><%= current_user.username %>&nbsp;(<%= link_to "Sign out", signout_path, method: :delete %>)</p>
      <% else %>
        <p id="powered"><a href="http://sqale.jp/" target="_blank">iiirc&nbsp;は&nbsp;Sqale&nbsp;でうごいてます</a></p>
      <% end %>
    </div>
  </footer>
</body>
</html>
